@import '../../variables.scss';
.footer {
  z-index: 10;
  display: flex;
  background-color: $primary;
  color: #242834;
  width: 100%;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    .contact-info {
      p {
        font-weight: 500;
        color: $secondary;
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    .map {
      width: 200px;
      height: 200px;
      background-color: lightgray; // Simulación de un mapa
    }
  }
}
